<mat-toolbar class="mat-typography">

  <span>Dashboard</span>

  <span class="toolbar-spacer"></span>

  <button mat-button (click)="addExternal()">Add External</button>

</mat-toolbar>

<gridster [options]="options">
  <gridster-item *ngFor="let element of elements"
                 [item]="makeItem(element)"
                 class="mat-elevation-z2">
    <!--<span class="drag-handler">drag</span>-->
    <app-dashboard-element
      [type]="element.type"
      [attributes]="element.attributes"
    ></app-dashboard-element>
  </gridster-item>
</gridster>
